:root { 
--black_900_7f:#0000007f; 
--gray_600_33:#686b6f33; 
--red_900:#c51c1c; 
--light_green_A700:#60c51d; 
--gray_600_19:#686b6f19; 
--black_900_3f:#0000003f; 
--red_900_33:#c51c1c33; 
--black_900:#000000; 
--light_green_A700_19:#6cef1519; 
--gray_600:#686b6f; 
--gray_601:#7e7e7e; 
--gray_700:#555555; 
--gray_400:#c4c4c4; 
--gray_401:#b8b8b8; 
--gray_901:#040f3d; 
--blue_800:#1768ac; 
--gray_800:#4a4a4a; 
--gray_900:#171717; 
--deep_orange_500_19:#fc552f19; 
--bluegray_100:#d9d9d9; 
--gray_300:#e3e3e3; 
--gray_100:#eff7fc; 
--bluegray_900:#353535; 
--yellow_800_19:#e8aa2419; 
--bluegray_102:#d2d2d2; 
--bluegray_101:#cce2ee; 
--bluegray_400_7f:#8c8c8c7f; 
--light_green_50:#f1fee8; 
--white_A700:#ffffff; 
--bluegray_901:#06264e; 
}